/* Fonts */

/* montserrat-regular */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('/assets/fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff') /* Modern Browsers */
}
/* montserrat-600 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('/assets/fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff') /* Modern Browsers */
}
/* montserrat-700 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('/assets/fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff') /* Modern Browsers */
}
/* montserrat-800 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('/assets/fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff') /* Modern Browsers */
}

/* Common styles */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.body {
  background-color: #fff;
}

.container {
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 75px;
  max-width: 1920px;
}

.section {
  margin-top: 100px;
}

.btn {
  display: block;
}

.section-heading {
  margin: 0;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: #333;
}

/* Header */

.header {
  padding: 14px 0;
  max-height: 100px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container__logo {
  margin-right: auto;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  width: 709px;
}

.header-nav__item:not(:last-child) {
  /* margin-right: 85px; */
}

.header-container__search-icon {
  margin-left: 71px;
  margin-right: 10px;
  width: 25.5px;
  height: 25.62px;
  background: url(/assets/img/search.svg) center center no-repeat;
  /* background-size: contain; */
}

/* Hero Section */

.hero-section {
  margin: 0;
}

.hero-container {
  padding: 103px 78px 91px;
  border: 0.98px solid black;
  background: url(/assets/img//balconies.jpg) center center no-repeat;
  background-size: cover;
}

.hero-container__content {
  max-width: 842px;
}

.hero-container__heading {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 70.37px;
  line-height: 86px;
  color: #fff;
}

.hero-container__text {
  margin: 0;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  color: #fff;
}

.hero-container__btn {
  margin-top: 97px;
  margin-left: 2px;
  padding: 25.83px 0;
  max-width: 280.52px;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: #fff;
  background: #ff9900;
}

/* About Section */

.about-section-heading {
  margin-bottom: 24px;
}

.about-text {
  margin: 0;
  max-width: 1235px;
  line-height: 32.2px;
  color: #333333;
}

.about-advantages-block {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.about-more-block {
  position: relative;
  width: calc(50% - 15px);
  max-height: 100%;
}

.about-more-block__img {
  display: block;
  height: 100%; 
  object-fit: cover;
}

.about-more-block__text-block {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 41px 68px 41px 54px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-more-block__text {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.about-more-block__btn {
  width: 100%;
  max-width: 175px;
  margin-left: 78px;
  padding: 17px 0;
  max-width: 175px;
  border: 3px solid #ff9900;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

.advantages-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 15px);
}

.advantages-block__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
}

.advantages-block__item {
  display: flex;
  flex-wrap: wrap;
  padding: 68px 100px 68px 63px;
  border: 1px solid #cacaca;
}

.advantages-block__item:nth-child(n+2) {
  margin-top: 30px;
}

.advantages-block__icon_box {
  width: 100%;
  max-width: 178px;
  height: 137px;
  background: url(/assets/img/box.svg) center center no-repeat;
  background-size: 100% auto;
}

.advantages-block__icon_gear {
  width: 100%;
  max-width: 178px;
  height: 153px;
  background: url(/assets/img/gear.svg) center center no-repeat;
  background-size: 100% auto;
  transform: translateY(-13px);
}

.advantages-block__item-desc {
  margin-left: 59px;
  max-width: 452px;
}

.advantages-block__heading {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.advantages-block__text {
  margin: 0;
  margin-top: 9px;
  font-size: 16px;
  line-height: 32px;
}

/* How Section */

.how-section-heading {
  margin-bottom: 49px;
}

.steps {
  display: flex;
}

.steps__item {
  font-size: 18px;
  line-height: 22px;
  color: #333;
  cursor: pointer;
}

.steps__item_selected {
  color: #ff9900;
}

.steps__item:not(:last-child) {
  margin-right: 90px;
}

.how-info-block {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
}

.how-info-block__text-block {
  width: calc(50% - 15px);
  margin-right: 35px;
  max-width: 758px;
}

.how-info-block__heading {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.how-info-block__text {
  margin: 0;
  font-size: 16px;
  line-height: 32.56px;
  color: #333;
}

.how-info-block__btn-block {
  display: flex;
  margin-top: 57px;
}

.how-info-block__btn_fill {
  margin-right: 30px;
  padding: 20px 0;
  width: 100%;
  max-width: 175px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #ff9900;;
}

.how-info-block__btn_border {
  padding: 18px 0;
  border: 1px solid #333;
  width: 100%;
  max-width: 147px;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  text-align: center;
}

.how-info-block__img-block {
  padding-top: 10px;
  width: calc(50% - 15px);
}

.how-info-block__img {
  height: 100%;
  object-fit: cover;
  /* object-position: center 10px; */
}

/* FAQ Section*/

.faq-section-heading {
  margin-bottom: 36px;
}

.faq__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  border-top: 1px solid #cacaca;
}

.faq__item:last-child {
  border-bottom: 1px solid #cacaca;
}

.faq__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

.faq__icon_plus {
  width: 50px;
  height: 50px;
  background: url(/assets/img/+х.svg) center center no-repeat;
  background-size: cover;
}

/* Footer */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 80px;
  background-color: #222;
}

.footer__nav-block {
  width: 100%;
  max-width: 317px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #cacaca;
}

.footer__social-list {
  display: flex;
  margin-top: 118px;
}

.footer__social-item:not(:last-child) {
  margin-right: 25px;
}

.footer__icon {
  display: block;
  width: 60px;
  height: 60px;
}

.footer__icon_fb {
  background: url(/assets/img/fb.svg) center center no-repeat;
}

.footer__icon_vk {
  background: url(/assets/img/vk.svg) center center no-repeat;
}

.footer__icon_inst {
  background: url(/assets/img/instagram.svg) center center no-repeat;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.form-heading {
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: #cacaca;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__text {
  max-width: 363px;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}
